.arrival-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.arrival-form__input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.arrival-form__button-group {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
